html{
    scroll-behavior: smooth;
}
body{
    margin:0;
  background-color: rgb(7, 7, 7);

}
.profile-container{
    display: flex;
   flex-direction: column;
    justify-content: center;
    
    padding: 100px;
    background: linear-gradient(140deg, black 60%, rgb(25, 16, 49) 60%);
    background-attachment: fixed;
    margin-left: 50px;
}
.description{
   text-align: center;
    font-size: 30px;
   color: rgb(255, 255, 255);
  
}

.description p{
    margin-right: 20px;
}
.profile{
display: flex;
justify-content: center;

}
.profile img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid white;
   
}

nav{
    background-color: rgb(7, 7, 7);
    height: 100%;
    width: 100px;
    left: 0;
    top: 0;
    position: fixed;
   text-align: center;
    
}
nav a{
    text-decoration: none;
    font-family: 'Coda', cursive;
    color:rgb(112, 110, 110);
   font-size: 17px;
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
   
}
nav a:hover{
    color: rgb(255, 255, 255);
}
.symbols img{
    width: 40px;
    height: 40px;
    margin: 10px;
}
.symbols img:hover{
    opacity: 100%;
}
.symbols{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom:20px;
    right: 20px;

}
.name{
    font-family: 'Arizonia', cursive;
    font-size: 50px;
}
#About{
height: 100vh;
width:100%;

}
.About-content{
    margin:150px;
    color:#f1f1ff;
}
.About-me{
    font-size: 27px;
    text-align: center;
    margin: 100px;
}
.title{
    font-family: 'Arizonia', cursive;
    font-size: 90px; 
    color: rgb(255, 255, 255);
}
#Projects{
height: 100vh;
width:100%;

}
.Projects-content{
    margin:150px;
}
.About-content h3{
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
}
.About-content li{
    line-height: 40px;
    font-size: 25px;
    list-style: none;
}
.Projects-content img{
    height: 100px;
    width: 100px;
}