html{
    scroll-behavior: smooth;
}
body{
    margin:0;
  background-color: rgb(7, 7, 7);

}
.profile-container{
    display: flex;
   flex-direction: column;
    justify-content: center;
    padding: 100px;
    background: linear-gradient(140deg, black 60%, rgb(25, 16, 49) 60%);
    background-attachment: fixed;
    margin-left: 50px;
    overflow: hidden;

}
.description{
   text-align: center;
    font-size: 30px;
   color: rgb(255, 255, 255);
 
}
.description p{
    margin-right: 20px;
}
.profile{
display: flex;
justify-content: center;


}
.profile img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid white;
   
}

nav{
    background-color: rgb(7, 7, 7);
    height: 100%;
    width: 100px;
    left: 0;
    top: 0;
    position: fixed;
   text-align: center;
    
}
nav a{
    text-decoration: none;
    font-family: 'Coda', cursive;
    color:rgb(112, 110, 110);
   font-size: 17px;
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
   
}
nav a:hover{
    color: rgb(255, 255, 255);
}
.symbols img{
    width: 40px;
    height: 40px;
    margin: 10px;
}
.symbols img:hover{
    opacity: 100%;
}
.symbols{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom:20px;
    right: 20px;

}
.name{
    font-family: 'Arizonia', cursive;
    font-size: 50px;
}

#About{
height: 100vh;
width:100%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: #020202;

}
.About-content{
    color:#020202;
    background-color: #efeff886;
    padding: 27px;
    padding-right:40px ;
    border-radius:12px ;
    margin-left: 20px;
}
.about-title{
    font-size: 40px; 
   text-align: center;
    color: rgb(0, 0, 0);
}
.About-me{
    width: 400px;
    font-size: 20px;
    text-align: center;
}
.skills{
    background-color: #1615158a;
    width: 300px;
    color: white;
    font-size: 25px;
    z-index: 10;
}
.skills ol{
    list-style: none;
}
.skills h3{
    text-align: center;
}
.skills ol{
    margin-left: 50px;
    margin-right: 50px;
}
.title{
   font-size: 40px; 
   text-align: center;
    color: rgb(255, 255, 255);
}
#Projects{
height: 100vh;
width:100%;
}
.Projects-content{
    padding: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.project-card h4{
    text-align: center;
    color: white;
}
.About-content h3{
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
}
.Projects-content img{
    height: 200px;
    width: 300px;
    border: 2px inset white;
    border-radius: 12px;
}